html, body {
    height:100%;
    width:100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
    color:#97a4be;
}

a, a:hover {
    text-decoration: none;
    color:#FFF;
}

section {
    min-height:530px;
}

.bg-darkblue {
    background-color:#223047;
}

.bg-neonblue{
    background-color:#00fff1;
}

.fontWhite {
    color:#FFF;
}

.fontBlack {
    color: #000;
}

.fontGreyBlue {
    color:#9eaac2;
}

.fontNeonBlue {
    color:#00fff1;
}

.section-header {
    font-size:2em;
}

/*
Navigation Styles
*/

#nav-title {
    font-size:2em;
    color:#00fff1;
}

nav {
    border-bottom:1px solid #4e596c;
}

.navbar-link{
    color:#FFF;
}

/*
Header Section Styles
*/

#header .btn {
    border-radius:6px;
}


.headerTextTitle {
    font-size: 2.5em;
}

.headerText {
    margin:auto;
    margin-top:3em;
    margin-bottom:3em;
    line-height: 2.5em;
    padding-right:18%;
}

#cp-t {
    display:block;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width:285px;
    height:500px;
    background-color:#161f32;
    padding:5px;
}

#cp-t-screen {
    display:block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width:265px;
    height:500px;
    background-color:#00fff1;
    margin:auto;
    margin-top:6px;
    padding:0px;
}

#cp-t-cam{
    display:block;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width:130px;
    height:20px;
    background-color:#131316;
    margin:auto;
}

#cp-t-cam #cp-t-rect {
    width:40px;
    height:5px;
    border-radius: 15%;
    display:block;
    background-color:#3d4652;
    margin:auto;
    margin-top:7px;
}

#cp-t-cam #cp-t-circle {
    padding:0px;
    width:9px;
    height:9px;
    border-radius:50%;
    display:block;
    background-color:#3d4652;
    margin:auto;
    margin-top:6px;
}

#cp-bot-sec {
    min-height:90px;
}
#cp-b {
    display:block;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width:285px;
    height:85px;
    background-color:#161f32;
}

#cp-b-screen {
    display:block;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width:265px;
    height:75px;
    background-color:#00fff1;
    margin:auto;
    margin-bottom:6px
}

/*
Services Section
*/

#nb-sline {
    width: 100px;
    height:7px;
    display:block;
    margin: auto;
    margin-top:85px;
    margin-bottom:85px;
}

.services-title {
    font-size:1.2em;
}

.servicesContentBox {
    margin:auto;
    height:300px;
    padding:8%;
    background-color:#FFF;
    display:inline-block;
    border-radius: 2%;
    line-height:2em;
    box-shadow:2px 2px 4px 5px rgba(30, 43, 63, 0.1);
}

.servicesContentBox img {
    margin-bottom:20px;
}
/*
Company Info Section
*/

.cinfo-text {
    line-height:2em;
}

/*
Download Section
*/

#dl .btn {
    border-radius:0px;
}

/*
Quote Section
*/
#quoteSection {
    min-height:330px;
}

#quoteSection .blockquote{
    padding:0px;
    font-size:1.3em;
    line-height:1.8em;
}

/*
AppAdd Section
*/

#appAdd button, #contactSec button {
    box-shadow:0px 2px 24px 0px rgba(0, 255, 240, .8);
}

.GP-btn, .Apl-Btn {
    border:0px;
    display:inline-block;
    height:43px;
    width:144px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right:25px;
}

.GP-btn {
    background-image: url("/imgs/googlePlayLink.png");
}

.Apl-btn {
    background-image: url("/imgs/appleStoreLink.png");
}

/*
Contact Section
*/

#contactSec {
    min-height:0;
}

/*
Footer Section
*/

footer {
    min-height:100px;
}

footer ul {
    list-style-type: none;
}

footer ul li, footer ul li a {
    display:inline-block;
    width:30px;
    height:30px;
    margin-right:25px;
}

.logoLinks {
    background-repeat: no-repeat;
    background-position: center;
}

.fb {
    background-image:url("/imgs/facebookLogo.png");
}
.twitter {
    background-image:url("/imgs/twitterLogo.png");
}
.dribble {
    background-image:url("/imgs/dribbleLogo.png");
}
.google {
    background-image:url("/imgs/googleLogo.png");
}
.yt {
    background-image:url("/imgs/youTubeLogo.png");
}